<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
    <style>
        p{
            font-size: 1.3em;
        }
    </style>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>Restautant Information</h1>
    </div>
    <div class="row">
        <p>Restaurant ID:  <% if (typeof (item.restaurantID) !== "undefined") { %><%= item.restaurantID %><% } %></p><br>
        <p>Restaurant Name:  <% if (typeof (item.name) !== "undefined") { %><%= item.name %><% } %></p><br>
        <p>Borough:  <% if (typeof (item.address.borough) !== "undefined") { %><%= item.address.borough %><% } %></p><br>
        <p>Street:  <% if (typeof (item.address.street) !== "undefined") { %><%= item.address.street %><% } %></p><br>
        <p>Restaurant Telephone:  <% if (typeof (item.phone) !== "undefined") { %><%= item.phone %><% } %></p><br>
        <p>Cuisine:  <% if (typeof (item.cuisine) !== "undefined") { %><%= item.cuisine %><% } %></p><br>
        <p>Description:  <% if (typeof (item.description) !== "undefined") { %><%= item.description %><% } %></p><br>
    </div>
        <a href="/edit?_id=<%= item._id %>" >Update the information</a><br><br>
        <a href="/delete?_id=<%= item._id %>&owner=<%= item.ownerID %>">Delete the information</a><br><br>
        <a href="/home">Home</a>
</body>
</html>

